{% extends 'base.html' %}

{% block title %}
Поиск по корпусу
{% endblock %}

{% block body %}
    <h1>Страница с поиском</h1>
<form method="post" class="container">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="fas fa-search h4 text-body">
            </i>
        </div>
        <div class="col">
            <input name="query" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Введите слово для поиска">
        </div>
        <div class="col-auto">
            <button class="btn btn-lg btn-primary" type="submit">Искать</button>
        </div>
    </div>
</form>

{% if total %}
<table style="width:100%", border="1">
    {% for row in items %}
        <tr>
            <td>{{ row.result }}</td>
            <td>{{ row.sentence }}</td>
            <td>{{ row.theme }}</td>
            <td>{{ row.source }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}